/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/*--------------------------------------------------------------------HEADER----------------------------------------------------------------------------------------------------------------------------------------*/
.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.div-logo{
    display: flex;
    align-items: center;
}

.logo{
    height: 28px;
    width: 80px;
}

.navigation{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav{
    height: 100%;
    width: 50%;
    border-top: #0065fc00 solid 2px;
    text-align: center;
    line-height: 3em;
}

.nav:hover{
    border-top: var(--main-color) solid 2px;
}
/*--------------------------------------------------------------------------------HEADER MAIN-------------------------------------------------------------------------*/
.titre-header-main{
    margin-bottom: 5px;
}

.texte-header-main{
    margin-top: 4px;
}

.barre-de-recherche{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 45px;
    margin-bottom: 30px;
    margin-top: 35px;
  
}

.icon-localisation{
    display: block;
    width: 40px;
    height: 44px;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border: var(--main-bg-color) solid 1px;
    
}

.fa-location-dot{
    color: black;
}

.input-recherche{
    height: 45px;
    width: 160px;
    padding-left: 5px;
    box-sizing: border-box;
    border-left: none;
    border-right: none;
    border-top: var(--main-bg-color) solid 1px;
    border-bottom:var(--main-bg-color) solid 1px;
}

.input-recherche::placeholder{
    font-size: medium;
    font-weight: bold;
    color: black;
}

.bouton-rechercher{
    height: 44px;
    width: 130px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    background-color:var(--main-color);
    color: white;
    border: var(--main-color) solid 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bouton-rechercher-logo{
    display: none;
    height: 44px;
    width: 150px;
    background-color:var(--main-color);
    border: var(--main-color) solid 1px;
    border-radius: 15px;
}

.fa-magnifying-glass{
    color: white;
    font-size: larger;
    font-weight: bolder;
}

.filtres{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texte-filtre{
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.div-bouton-filtre{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    box-sizing: border-box;
}

.bouton-filtre{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: #D9D9D9 solid 2px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    width: fit-content;
    height: 45px;
    box-sizing: border-box;
    background-color: white;
    gap: 10px;
    font-weight: bold;
}

.logo-filtre{
   font-size: large;
   margin-left: 5px;
}

.bouton-filtre:hover{
    background-color: var(--filter-bg-color);
}

.div-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2%;
}

.fa-info{
    font-size: smaller;
}

.border-radius-logo-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-bg-color);
    border-radius: 60%;
    margin-right: 1%;
}
/*----------------------------------------------------------------------------------HEBERGEMENTSANDPOPULAIRES-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.liste-card-hebergement{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 33px;
}

.card-hebergement{
    width: 30%;
    height: 205px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    box-sizing: border-box;
    box-shadow: 0px 1px 20px #D9D9D9;

}

.img-card-hebergement{
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.card-titre{
    margin-left: 5px;
}

.titre-card-hebergement{
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 0.9em;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.texte-card-hebergement{
   margin-top: 8px;
   margin-bottom: 3px;
}

.bouton-hebergement{
    border: none;
    margin-bottom: 12px;
}

.text-bouton-hebergement{
    margin: 0%;
    font-weight: bolder;
    font-size: 1.2em;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    height: 100%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/*---------------------------------------------------------------------------Activié à Marseille----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.activites-marseille{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
}

.liste-activites-marseille{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 60px;
}

.card-activites-marseille{
    width: 22%;
    height: 409px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 1px 25px #D9D9D9;    
}

.image-activites-marseille{
    width: 100%;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.titre-activites-marseille{
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-bottom: 10px;
    font-size: 0.95em;
    font-weight: bold;
}
/*--------------------------------------------------------------------FOOTER---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.footer{
    width: 100%;
    height: 150px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
}

.div-footer{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.titre-div-footer{
    margin-top: 5px;
}

.lien-footer{
    margin-bottom: 12px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filtres{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .div-bouton-filtre{
        padding-top: 0;
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .img-card-hebergement{
        min-height: 110px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card-activites-marseille{
        width: 22%;
        max-height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: block;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 1px 20px #D9D9D9;    
    }

    .image-activites-marseille{
        height: 230px;
    }

    .titre-activites-marseille{
        width: 90%;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .span-activites-marseille{
        margin-top: 9px;
    }



}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .main-container{
        padding: initial;
    }

    .section-title{
        font-size: 1.1em;
    }

    .header{
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 190px;
    }

    .div-logo{
        align-self: center;
        height: 100%;
    }

    .logo{
        height: 30px;
        width: 90px;
    }

    .navigation{
        width: 100%;
    }

    .nav{
        padding-left: 16px;
        box-sizing: border-box;
        border-bottom: var(--main-bg-color) solid 3px;
        width: 50%;
        height: 100%;
        text-align: center;
        font-size: 1.3em;
    }

    .nav:hover{
        border-top: none;
        border-bottom: var(--main-color) solid 2px;
    }

    .header-main{
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
    }

    .titre-header-main{
        font-size: 1.1em;
    }

    .barre-de-recherche{
       width: 100%;
    }

    .icon-localisation{
        width: 90px;
    }

    .input-recherche{
        width: 100%;
    }

    .bouton-rechercher{
        display: none;
    }

    .bouton-rechercher-logo{
        display: block;
        width: 70px;
        height: 49px;
        position: relative;
        right: 15px;
        box-shadow: 0px 2px 14px grey;    
    }

    .filtres{
        width: 100%;
    }

    .texte-filtre{
        font-weight: bold;
        font-size: larger;
    }

    .div-bouton-filtre{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .bouton-filtre{
        width: 40%;
    }

    .logo-filtre{
        font-size: 1.05em;
        width: fit-content;
   
    }

    .text-bouton-filtre{
        font-size: small;
        width: fit-content;
        text-align: justify;
    }

    .div-info{
        margin-top: 20px;
    }

    .hebergements-and-populaires{
        flex-direction: column-reverse;
    }

    .populaires{
        margin-top: 20px;
    }

    .populaires-cards {
        flex-direction: column;
        align-items: center;
    }

    .populaires-cards a {
        width: 90%;
    }

    .hebergements-and-populaires > .hebergements {
        background-color: white;
    }

    .hebergements-and-populaires > .populaires {
        border-radius: initial;
    }

    .liste-card-hebergement{
        flex-direction: column;
        align-items: center;
    }

    .card-hebergement{
        width: 90%;
    }

    .activites-marseille{
        padding: 30px;
        margin-top: 0;
        box-sizing: border-box;
    }
    .liste-activites-marseille{
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .card-activites-marseille{
        width: 90%;
        height: 200px;
        margin-bottom: 30px;
    }

    .span-activites-marseille{
        margin-top: 0%;
    }

    .image-activites-marseille{
        height: 150px;
    }

    .footer{
        flex-direction: column;
        padding: 30px;
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
    }

    .div-footer{
        width: 100%;
        align-items: flex-start;
    }

    .lien-footer{
        text-align: justify;  
    }

}

